.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #1a1a2e;
  color: #FFFFFF;
  padding: 20px;
}

header {
  background: linear-gradient(135deg, #FF1493, #00E5B6);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

h1, h2 {
  color: #FF1493;
}

section {
  flex: 1 1 45%;
  margin: 10px;
  padding: 20px;
  background-color: #2e2e39;
  border-radius: 10px;
}

.calendar {
  border-radius: 50%;
  background-color: #00E5B6;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mood, .need {
  flex: 1;
  background-color: #1DE9B6;
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.mood:hover, .need:hover {
  background-color: #FF1493;
}

.footer {
  text-align: center;
  padding: 10px;
  background: #1a1a2e;
}